<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navigation.ejs") %>

<script>
  $(document).ready(function() {
    $("#show_hide_password a").on('click', function(event) {
        event.preventDefault();
        if($('#show_hide_password input').attr("type") == "text"){
            $('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass( "fa-eye-slash" );
            $('#show_hide_password i').removeClass( "fa-eye" );
        }else if($('#show_hide_password input').attr("type") == "password"){
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass( "fa-eye-slash" );
            $('#show_hide_password i').addClass( "fa-eye" );
        }
    });
  });
</script>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Accounts</h1>
      <p>Accounts Administration Panel</p>
    </div>
  </div>

  <% if (successalert == true) { %>
    <%- include("../../partials/micros/successmsg.ejs") %>
  <% } %>

  <% if (erroralert == true) { %>
    <%- include("../../partials/micros/errormsg.ejs") %>
  <% } %>

  <% if (accountpermissiondata.accountcreate == 'GRANT') { %>
    <div class="">
      <a href="/panel/accounts/add"><button type="submit" class="btn btn-success">Create Account</button></a>
    </div>
  <% } %>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <!-- <th scope="col"></th> -->
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% objdata.forEach(function (data) { %>
        <tr>
          <td><%= data.username %></td>
          <!-- <td>
            <div class="input-group" id="show_hide_password">
              <input class="form-control" type="password" value="<%= data.password %>">
              <div class="input-group-addon">
                  <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
              </div>
            </div>
          </td> -->
          <td style="max-width:10px;">
            <% if (accountpermissiondata.accountedit == 'GRANT') { %>
            <div class="btn-group" role="group" aria-label="accountactiongroup">
                <form action="/panel/accounts/edit" method="post">
                  <input type="hidden" name="id" value="<%= data.id %>">
                  <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                </form>
              <% } %>
              <% if (accountpermissiondata.accountdelete == 'GRANT') { %>
                <form action="/panel/accounts/delete" method="post">
                  <input type="hidden" name="id" value="<%= data.id %>">
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
              <% } %>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <hr>
</div>

<%- include("../../partials/footer.ejs") %>
